
*{
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: #f7f9fe;
    background-image: url(../ui/1633618214279.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none; 
    outline: none; 
    color: #000; 
}

.nav{
    text-align: center;
    margin-top: 10px;
}

.nav_hend{
    width: 98%;
    height: 30px;
    background-color: rgb(217, 24, 30);
    border-radius: 7px;
    opacity: 0.8;
}
.nav_hend p{
    padding-top: 3px;
    color: #d4ca0d;
}

.nav_and_cai{
    width: 2em;
}

.cai_ul{
    display: none;  
}
.nav_and_one:hover .cai_ul{
    display: block;
}
.cai_ul li:hover{
    
    background-color: aquamarine;
}

.nav_and{
    margin-top: 10px;
    display: flex;
}
.nav_and_one ul{
   list-style-type: none;
   background-color: #ffffff;
   border-radius: 15px;
   border:solid 1px rgb(227,232,247);
   position:absolute;
   opacity: 0.8;

}
.nav_and_one ul li{
    padding: 20px 40px 20px 40px;
    border-radius: 7px;
}

.nav_and_two{
    display: flex;
}
.nav_and_two div{
    margin-left: 40px;
}
@media screen and (max-width:320px){    
    .nav_and_two div{display:none; }
    }

.nav_and_two div a{
    font-size: 1.2em;
}