
*{
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: #f7f9fe;
}
a{
    text-decoration: none; 
    outline: none; 
    color: #000; 
}
.nav{
    text-align: center;
    margin-top: 10px;
}
.nav_hend{
    width: 98%;
    height: 30px;
    background-color: rgb(217, 24, 30);
    border-radius: 7px;
}
.nav_hend p{
    padding-top: 3px;
    color: #d4ca0d;
}
.nav_and_cai{
    width: 40px;
}
.nav_and{
    margin-top: 10px;
    display: flex;
}
.nav_and_one ul{
   list-style-type: none;
   background-color: #ffffff;
   border-radius: 15px;
   border:solid 1px rgb(227,232,247);
   position:absolute;
}
.nav_and_one ul li{
    margin: 30px;
    /* padding: 20px; */
}

.nav_and_two{
    display: flex;
}
.nav_and_two div{
    margin-left: 40px;
}
.nav_and_two div a{
    font-size: 28px;
}